<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
	rel="stylesheet" type="text/css"></link>

<title>GTS :: Panneau de configuration</title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="row">
			<form method="POST" action="/utilisateurs/add" th:object="${utilisateur}">
				<div class="form-group">
					<label for="role">Rôle</label> 
					<select class="form-control" id="role" name="role">
						<option th:value="ROLE_USER" th:text="Trésorier"/>
						<option th:value="ROLE_ADMIN" th:text="Administrateur"/>
					</select>
				</div>
				<div class="form-group">
					<label for="nom">Nom</label> 
					<input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" th:value="${utilisateur.nom}" />
				</div>
				<div class="form-group">
					<label for="prenom">Prénom</label> 
					<input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" th:value="${utilisateur.prenom}" />
				</div>
				<div class="form-group">
					<label for="email">E-mail</label> 
					<input type="email" class="form-control" id="email" name="email" placeholder="E-mail" th:value="${utilisateur.email}" />
				</div>
				<div class="form-group">
					<label for="password">Mot de passe</label> 
					<input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" th:value="${utilisateur.password}" />
				</div>
				<div class="form-group">
					<label for="telephone">Telephone</label> 
					<input type="tel" class="form-control" id="telephone" name="telephone" placeholder="Telephone" th:value="${utilisateur.telephone}" />
				</div>
				<div class="form-group">
					<label for="dateNaissance">Date de naissance</label> 
					<input type="date" class="form-control" id="dateNaissance" name="dateNaissance" placeholder="Date de naissance" th:value="${utilisateur.dateNaissance}" />
				</div>
				<div class="form-group">
					<label for="isActive">État</label> 
					<select class="form-control" id="isActive" name="isActive">
						<option th:value="true">Actif</option>
						<option th:value="false">Inactif</option>
					</select>
				</div>
				<input type="hidden" class="form-control" name="id"	th:value="${utilisateur.id}" /> 
					<input type="submit" name="ok"
					value="Envoyé" class="btn btn-success" />
			</form>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script src="/webjars/jquery/3.2.1/jquery.js"></script>
	<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.js"></script>
</body>
</html>